@media screen and (max-width:768px){
.g{
   background-color:#E4E4E4;
   margin-top:0px;
}
 .zhong{
   width:90%;
   height:300px;
   margin-top:5%;
   margin-left:5%;
 }
 .head{
   height:10%;
   background-color:red;
   text-align:center;
   color:white;
   font-size:1.2em;
   }
   .ti1{
   background-color:#FFFFFF;
   height:85%;
   width:96%;
   margin-left:2%;
   span{
   margin-left:5%;
   }
   }
}