@media screen and (max-width:768px){
.g{
   background-color:#E4E4E4;
}
 .zhong{
   width:90%;
   height:340px;
   margin-left:5%;
 }
 .head{
   height:10%;
   background-color:red;
   text-align:center;
   color:white;
   font-size:1.2em;
   line-height:250%;
   }
   .ti1{
   background-color:#FFFFFF;
   height:85%;
   width:96%;
   margin-left:2%;
   overflow:scroll;
   overflow-x:hidden;
   span{
   margin-left:5%;
   }
   .i1{
   font-size:0.96em;
   color:blue;
   }
   .i2{
   font-size:0.965em;
   }
   .i3{
   font-size:0.965em;
   }
   }
   .footer{
   margin-top:0%;
   height:280px;
   background-color:white;
   .mid{
   background-color:white;
   .mid2{
   margin-top:5%;
   margin-left:8%;
   color:#AAAAAB;
   }
   }
   .f2{
   margin-top:-5%;
   img{
   width:50px;
   height:50px;
   margin-left:5%;
   }
   }
   .bo{
   width:96%;
   height:40px;
   background-color:red;
   margin-top:50%;
   margin-left:2%;
   border-radius:5px;
   border:1px solid black;;
   text-align:center;
   line-height:250%;
   a{
   color:white;
   font-size:1.3em;
   }
   }
   }
}