@media screen and (max-width:768px){
.aa{
  border:1px solid #797979;
  border-radius:10px;
  margin-top:5%;
  margin-left:5%;
  margin-right:5%;
  img{
  height:5%;
  width:88%;
  border:0px solid blue;
  margin-left:6%;
  margin-top:5%;
  }
  p{
  font-size:1.5em;
  margin-left:5%;
  }
}
.bs{
  font-size:0.8em;
  width:90%;
  margin-left:5%;
  margin-top:2%;
  margin-bottom:8%;
}



.panel{
  border:1px solid #999999;
  padding-bottom:5%;
}
.panel-heading{
  text-align:center;
  background-color:#D51427;
  font-size:1.2em;
  color:white;
    button{
    background:transparent;
    border-color:white;
    }
}
    .weijia{
    background-color:#E4E4E4;
    }
    p{
    margin-left:8%;
    padding-top:3%;
    }
    .jiben{
    margin-top:2%;
    width:98%;
    margin-left:1%;
    border-radius:6px;
    background-color:white;
    padding-bottom:4%;
    form{
    font-weight:normal;
    border:1px solid #D7D7D7;
    border-radius:6px;
    width:94%;
    margin-left:3%;
    label{
    margin-left:5%;
    font-weight:normal;
    .shiji{
    color:red;
    }
    input{
    width:30%;
    }
    }
    }
    }
    .p{
    color:#999999;
    font-weight:blod;
    font-size:1.2em;
    margin-left:9%;
    }
    .get{
    border:1px solid #777777;
    border-radius:5px;
    padding-top:5%;
    padding-bottom:5%;
    label{
    font-weight:normal;
    font-size:0.95em;
    margin-left:2%;
    span{
    color:#777777;
    display:block;
     width:95%;
     margin-left:45%;
     margin-top:-12%;
     word-wrap: break-word; 
     word-break: normal;
    }
    .nam{
    display:block;
     width:100%;
     margin-left:80%;
     margin-top:-22%;
     word-wrap: break-word; 
     word-break: normal;
    }
    .nam2{
    display:block;
     width:75%;
     margin-left:28%;
     margin-top:-8%;
     word-wrap: break-word; 
     word-break: normal;
    }
    border-radius:5px;
    }
    }
    .get2{
    border:1px solid #777777;
    border-radius:5px;
    font-size:0.9em;
    padding-top:3%;
    padding-bottom:5%;
    padding-left:3%;
    input[type*="radio"]{
    margin-left:20%;
    }
    .in1{
    width:20%;
    height:20px;
    }
    select{
    width:25%;
    height:20px;
    }
    }
.reback{
  background-color:white;
  h4{
  color:#666666;
  }
}
.body{
  background-color:#CCCCCC;
  margin-left:3%;
  margin-right:3%;
  height:80%;
  img{
  height:30%;
  width:25%;
  margin-left:40%;
  }
}
.form-horizontalb{
  font-size:1.2em;
  font-weight:50;
}
div[class*="form-group"]{
  font-size:0.9em;
  font-weight:50;
}
.foo{
    .tuu{
    margin-left:8%;
    }
    background-color:white;
    margin-top:2%;
    width:98%;
    margin-left:1%;
    padding-bottom:2%;
    border-radius:5px;
    .mation{
    color:#333333;
    font-size:1.0em
    }
  .shuoming{
  border:1px solid #D7D7D7;
    width:94%;
    margin-left:3%;
    border-radius:6px;
  .shoujia{
  color:#333333;
  font-size:1.0em;
  }
  .shou{
  color:#FF0000;
  font-size:1.0em;
  .shou2{
    input{
    width:20%;
    }
    color:black;
  }
  }
  }
  p{
  font-size:0.9em;
  color:#BCBCBC;
  }
  span{
  color:#BCBCBC;
  font-size:0.9em;
  }
  img[src*="assets/img"]{
  height:10%;
  width:25%;
  }
  textarea{
  border-style: solid; 
  border-color: white;
  color:#BCBCBC;
  font-size:0.9em;
  }
}
.active{
  border:1px solid #999999;
  border-radius:5px;
  margin-top:-7%;
  p{
  font-size:0.9em;
  color:#BCBCBC;
  }
  span{
  color:#BCBCBC;
  font-size:0.9em;
  }
  img[src*="assets/img"]{
  height:10%;
  width:25%;
  }
  textarea{
  border-style: solid; 
  border-color: white;
  color:#BCBCBC;
  font-size:0.9em;
  }
}
.btn button{
  border-radius:5px;
}
.panel-footer{
  margin-left:3%;
  margin-right:3%;
  background-color:#9B9E9C;
  height:34px;
  text-align:center;
  font-size:1.4em;
  color:white;
}
.panel-border{
  background-color:white;
  span{
  color:#666666;
  font-size:0.8em;
  }
  div{
  color:#666666;
  }
}
.rad{
input[type*="radio"]{
  margin-left:30%;
}
}
.input{
 input[type*="text"]{
  border-style:none;
 }
}

.weijia2{
background-color:#E4E4E4;
.list{
  margin-top:3%;
  background-color:#0099FF;
  text-align:center;
  color:white;
  font-size:1.2em;
  padding-top:2%;
  padding-bottom:2%;
}
.listn{
  margin-top:2%;
  background-color:white;
  padding-top:3%;
  padding-bottom:3%;
  .ln{
  margin-left:5%;
  font-size:1.0em;
  }
  .zhankai{
  float:right;
  margin-right:1%;
  line-height:150%;
  }
}
.button{
  margin-top:3%;
  margin-left:70%;
  border-style:0;
  outline:none;
}
}
}