<div class="Compro"ng-controller="ComproductsController" ng-init="ComproductsLoad()">
  <div class="col-md-12 col-sm-12 col-xs-12 DrugstoreName">
    <span>{{DrugstoreName}}</span>
  </div>
  <div class="comproinfo">
    <div class="huanhang"></div>
    <div class="row" ng-repeat="item in items" >
      <div class="colxs3" >
        竞品名称:
      </div>
      <div class="colxs7" >
        {{item.FactoryName}}
        &nbsp;
       {{item.DrugsName}}
      </div>
      <div class="colxs2" >
        <a ui-sref="Comproducts"class="glyphicon glyphicon-menu-right arrowPosition "></a> 
      </div>
    </div>
  </div>
</div>