<style type="text/css">
   .box{
      width:400px;
      height:400px;
    }
    #box1{
      float:left;
      background-color: gray;
    }
    #box2{
      float:left;
      background-color: aqua;
    }
</style>
<div ng-controller="ModelController" ng-init="ModelLoad()">
  <!-- <div id="inputmove" style="border:1px solid black;width:240px;">
    <input type="text" draggable="true"/>
    <span class="drag glyphicon glyphicon-move">拖动</span>
  </div>
  <div id="msgDiv"></div>
  <div id="blank" style="width:300px;height:400px;border:1px solid red;margin:30px 200px;"></div> -->
  <div id="box1" class="box"></div>
    <div id="box2" class="box"></div>
    <img id="img1" class="imgs" src="images/logo.png"/>
    <img id="img2" class="imgs" src="images/Koala.jpg"style="width:100px"/>
    <div id="msg"></div>
    
</div>