
<div class="Scaninfo" ng-controller="LogInfoController" ng-init="LogInfoLoad()">
  <div class="col-md-12 col-sm-12 col-xs-12 DrugstoreName">
    <span>{{items[0].DrugstoreName}}1111</span>
  </div>
  <div  ui-view>
    <div class="proinfo">
      <p>
        <span>商品名称:{{logsinfo[0].ProName}}</span>
        <span class="pull-right">存&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量:{{logsinfo[0].StoreNum}}</span>
      </p>
      <p>
        <span>标准零售价:{{logsinfo[0].Price}}元</span>
        <span class="pull-right">是否串货:{{logsinfo[0].StringPro}}</span>
      </p>
    </div>
    <div class="LogisticalInfo">
      <div class="LogDesc">
        物流详情
      </div>
      <div class="address">
        <ul class="op_express_delivery_timeline_box">
          <li class="op_express_delivery_timeline_new c-clearfix" ng-repeat="item in logsinfo[1]">
            <div class="op_express_delivery_timeline_title">
              <div class="op_express_delivery_timeline_circle op_express_delivery_timeline_circle">
                <i class="c-icon {{item.classname}}"></i>
              </div>
              <div class="op_express_delivery_timeline_info">{{item.time}}
                <br>{{item.address}}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div
