
<div class="Scaninfo">
  <div class="col-md-12 col-sm-12 col-xs-12 DrugstoreName">
    <span>{{items[0].DrugstoreName}}1111</span>
  </div>
  <div  ui-view>
    <div class="proinfo">
      <p>
        <span>商品名称:{{}}</span>
        <span>存量:{{}}</span>
      </p>
      <p>
        <span>标准零售价:{{}}</span>
        <span>是否串货:{{}}</span>
      </p>
    </div>
    <div class="LogisticalInfo">
      <div class="LogDesc">
        物流详情
      </div>
      <div class="address">
        <ul>
          <li class="op_express_delivery_timeline_label c-clearfix">
            <div class="op_express_delivery_timeline_title">
              <div class="op_express_delivery_timeline_circle">
                <i class="c-icon op_express_delivery_timeline_circle_blue"></i>
              </div>
              <div class="op_express_delivery_timeline_info">2015年3月26日 下午7:33:42
                <br>快件到达 北京转运中心公司
              </div>
            </div>
          </li>
         <li>
           <div class="op_express_delivery_timeline_title">
              <div class="op_express_delivery_timeline_circle">
                <i class="c-icon op_express_delivery_timeline_circle_blue"></i>
              </div>
              <div class="op_express_delivery_timeline_info">2015年3月26日 下午7:33:42
                <br>快件到达 北京转运中心公司
              </div>
            </div>
         </li>

         <li>
           <div class="op_express_delivery_timeline_title">
              <div class="op_express_delivery_timeline_circle">
                <i class="c-icon op_express_delivery_timeline_circle_blue"></i>
              </div>
              <div class="op_express_delivery_timeline_info">2015年3月26日 下午7:33:42
                <br>快件到达 北京转运中心公司
              </div>
            </div>
         </li>
    
         <li>
           <div class="op_express_delivery_timeline_title">
              <div class="op_express_delivery_timeline_circle">
                <i class="c-icon op_express_delivery_timeline_circle_blue"></i>
              </div>
              <div class="op_express_delivery_timeline_info">2015年3月26日 下午7:33:42
                <br>快件到达 北京转运中心公司
              </div>
            </div>
         </li>
        </ul>
      </div>
    </div>
  </div>
</div
