
<div class="WorkList" ng-controller="WorkOrderController" ng-init="WorkOrderLoad()">
  <div class="col-md-12 col-sm-12 col-xs-12 DrugstoreName">
    <span>拜访工单</span>
    <p class="glyphicon glyphicon-th-list pull-right " data-toggle="dropdown" aria-expanded="false"></p>
      <ul class="dropdown-menu pull-right listmore">
        <li >
          <a ui-sref="WorkOrder.WorkPending"ng-click="switchFunction(0,switchStatus || false)">
            <span class="glyphicon glyphicon-bell"></span>
            待处理
          </a>
        </li>
        <li>
          <a ui-sref="WorkOrder.WorkResolve"ng-click="switchFunction(1,switchStatus || false) ">
            <span class="glyphicon glyphicon-flag"></span>
            已处理
          </a>
        </li>
      </ul>
  </div>
  <div class="togglep">
    <p>
      <toggle-switch
        ng-model="switchStatus"
        on-label="计划"  
        off-label="待办" class="toggle" ng-click="switchFunction(0,switchStatus)">
      <toggle-switch>
    </p>
  </div>
  <div ui-view class="listviews">
    <div  class="col-md-12 col-sm-12 col-xs-12 count count1">
      <p class="pull-right">共计:{{Orders[0].ListCount}}条</p>
    </div>
    <div class="content" ng-repeat="item in Orders[1]">
        <div class="row row2">
          <div class="col-md-11 col-sm-11 col-xs-12" >
            <p>
              {{item.rank}}:{{item.IssuedContent}}
              <span class="" ng-click="ShowAll(item.IssuedId)">阅读全文</span>
            </p>
          </div>
           <a class="btn btn-small btn-danger" >待处理
           </a>
        </div> 
    </div>
  </div>
</div>