<div ng-controller="positionController" ng-init="loder()">
  <div class="position">
    <div class="pic">
      <img src="../assets/img/vv.jpg">
    </div>
    <div class="search" style="border:1px solid red">
       <span>
        <!-- <select id="tetx" class="tetx"></select> -->
        <!-- <input type="text" class="tetx" ng-click="seach"></span> -->
        <input id="input" type="text"><input type="submit" name="submit_button" ng-click="search()" value="" class="tetx">
        <div id="rad" style="border:1px solid yellow">
        <ul>
          <li><input type="radio" name="radiobutton" ng-click="choose()">&nbsp;&nbsp;lllll</li>
          <li><input type="radio" name="radiobutton">&nbsp;&nbsp;lllll</li>
          <li><input type="radio" name="radiobutton">&nbsp;&nbsp;lllll</li>
        </ul>
        </div>
       </span>
    </div>
    <div class="wei">
      <span>终端：{{"mm"}}</span><br><hr>
      <span>经纬度：{{"ccc"}}</span><br><hr>
      <span>地址：{{"cc"}}</span><br><hr>
    </div>
    <div class="footer">
      <span><button>确认</button><button>取消</button></span>
    </div>
  </div>
</div>