<div ng-controller="" ng-init="">
  <div class="workorder">
    <div class="order">
       <span class="iv">拜访工单</span>
       <!-- 还有一个隐藏下拉框没实现 -->
       <span class="glyphicon glyphicon-option-horizontal pull-right" aria-hidden="true" ng-click=""></span>
    </div>
    <div class="move">
      <span>
        <!-- <section>
        <div class="btn-group" data-toggle="buttons-radio" style="border:1px solid blue">
          <button type="button" class="btn btn-primary select">待办</button>
          <button type="button" class="btn btn-primary unselect">计划</button>
        </div>
        </section> -->
      </span>
      <span class="pull-right">{{}}条记录</span>
    </div>
  </div>
</div>