<div ng-controller="competitorController" ng-init="load()">
    <div class="panel">
      <div class="panel-heading">{{"大众宝泰医药(现代店)"}}
        <span><button class="btn btn-xs pull-right" ui-sref="center.compedetail" ng-href="#">保存</button></span>
      </div>
      <div class="panel-body">
        <div class="get">
          <form>
            <label class="control-label">药品名称：<span class="nam">{{Clist[0].name}}</span></label><br>
            <label class="control-label">通用名称：<span class="nam">{{Clist[0].commonname}}</span></label>
            <label class="control-label">&nbsp;&nbsp;规&nbsp;&nbsp;格&nbsp;&nbsp;：<span>{{Clist[0].standard}}</span></label>
            <label class="control-label">&nbsp;&nbsp;厂&nbsp;&nbsp;商&nbsp;&nbsp;：<span class="nam2">{{Clist[0].firm}}</span></label>
          </form>
        </div><br>
        <div class="get2">
          <span>零售价格：<input class="in1" type="text"></span><span>&nbsp;&nbsp;进货价：<input class="in1" type="text"></span><br><br>
          <span><input type="radio" name="radiobutton">涨价</span><span><input type="radio" name="radiobutton">降价</span><br><br>
          <!-- <span>业务人员：<input class="in1" type="text"></span><span>&nbsp;&nbsp;月销量：<input class="in1" type="text"></span><br><br> -->
          <span>操作方式：<select type="text"><option>代理</option><option>维护</option></select></span><span>&nbsp;&nbsp;剂型：<input class="in1" type="text"></span><br><br>
          <span>推介级别：<input class="in1" type="text"></span><span>&nbsp;&nbsp;月销量：<input class="in1" type="text"></span><br><br>
        </div>
      </div>
    </div>
  <div class="active">
  <p>活动描述:</p>
  <textarea></textarea>
  <div>
    <span><a href="#"><img src="../assets/img/a.png"></a></span>
  </div>
  </div>
</div>