<div ng-controller="competitorController" ng-init="load()" ui-view>
    <div class="panel">
      <div class="panel-heading">{{"大众宝泰医药(现代店)"}}
        <span><button class="btn btn-xs pull-right" ui-sref="center.addactive"ng-click="">保存</button></span>
      </div>
      <div class="panel-body">
        <!-- <div>
          <span><a href="#"><img src="../assets/img/sao.png" ng-click=""></span></a>
          <span class="p">扫描竞品商标条码</span>
        </div> -->
        <div class="get">
          <form>
            <label class="control-label">药品名称：<span class="nam">{{Clist[0].name}}</span></label><br>
            <label class="control-label">通用名称：<span class="nam">{{Clist[0].commonname}}</span></label>
            <label class="control-label">&nbsp;&nbsp;规&nbsp;&nbsp;格&nbsp;&nbsp;：<span>{{Clist[0].standard}}</span></label>
            <label class="control-label">&nbsp;&nbsp;厂&nbsp;&nbsp;商&nbsp;&nbsp;：<span class="nam2">{{Clist[0].firm}}</span></label>
          </form>
        </div>
        <br>
        <div class="get2">
          <span>零售价格：<input class="in1" type="text"></span><span>&nbsp;&nbsp;进货价：<input class="in1" type="text"></span><br><br>
          <span>业务人员：<input class="in1" type="text"></span><span>&nbsp;&nbsp;月销量：<input class="in1" type="text"></span><br><br>
          <span>操作方式：<select type="text"><option>代理</option><option>维护</option></select></span><span>&nbsp;&nbsp;剂型：<input class="in1" type="text"></span><br><br>
          <span>推介级别：<input class="in1" type="text"></span>
        </div>
      </div>
    </div>
    <div class="foo">
      <p>竞品描述:&nbsp;&nbsp;<span>{{Clist[0].desc}}</span></p>
      <div>
        <span class="tuu"><img ng-src="{{Clist[0].pics[0].pic1}}"></span>
        <span class="tuu"><a href="#"><img src="../assets/img/287159_21.jpg"></a></span>
      </div>
    </div>
</div>