<div>
  <div class="panel">
    <!-- 终端名字需要获取 -->
    <div class="panel-heading">大众宝泰医药(现代店)</div>
    <div class="panel-body">
      <div class="form-horizontalb row">
        <label class="col-xs-6 control-label">商品名:{{}}</label>
        <label class="col-xs-6 control-label">存量:{{}}</label>
      </div>
      <div class="form-horizontalb row">
        <label class="col-xs-6 control-label">标准零售价:{{}}</label>
        <label class="col-xs-6 control-label">是否窜货:{{}}</label>
      </div>
    </div>
    <div class="panel-footer panel-border">
      <span class="pull-left">物流详情</span>
      <!-- <hr> -->
      <div>
        jiinnokkkkkkjvsljvkimksmvk
      </div>
    </div>
  </div>
</div>