<div ng-controller="competitorController" ng-init="load()">
    <div class="panel">
      <div class="panel-heading">{{"大众宝泰医药(现代店)"}}
        <span><button class="btn btn-xs pull-right" ng-href="#">保存</button></span>
      </div>
      <div class="panel-body">
        <div>
          <span><a href="#"><img src="../assets/img/sao.png" ng-click=""></span></a>
          <span class="p">扫描竞品商标条码</span>
        </div>
        <div class="get">
          <form>
            <label class="control-label">药品名称：<span>{{"消渴降糖胶囊"}}</span></label>
            <label class="control-label">通用名称：<span>{{"消渴降糖胶囊"}}</span></label>
            <label class="control-label">&nbsp;&nbsp;规&nbsp;&nbsp;&nbsp;格&nbsp;&nbsp;：<span>{{"每粒装0.3g"}}</span></label>
            <label class="control-label">&nbsp;&nbsp;厂&nbsp;&nbsp;&nbsp;商&nbsp;&nbsp;：<span>{{"通化长城药业股份有限公司"}}</span></label>
          </form>
        </div>
        <br>
        <!-- 可配内容begin -->
        <div class="get2">
          <form>
            <label class="control-label">药品名称：<span>{{"消渴降糖胶囊"}}</span></label>
            <label class="control-label">通用名称：<span>{{"消渴降糖胶囊"}}</span></label>
            <label class="control-label">规格：<span>{{"每粒装0.3g"}}</span></label>
            <label class="control-label">厂商：<span>{{"通化长城药业股份有限公司"}}</span></label>
          </form>
        </div>
      </div>
    </div>
  <div class="foo">
  <p>活动描述:</p>
  <span>{{Clist[0].desc}}
  </span>
  <div>
    <span><img src="../assets/img/s.jpg"></span>
    <span><a href="#"><img src="../assets/img/a.png"></a></span>
  </div>
  </div>
</div>