<div ng-controller="myproductCtrl" ng-init="load()" >
  <div class="panel weijia2">
    <div class="panel-heading">{{"大众宝泰医药(现代店)"}}</div>
    <div class="list"style="border:1px solid blue">终端经营品规
    </div>
    <div class="listn" ng-repeat="ma in mation"><span class="ln">我品名称：{{ma.drugname}}</span>
      <!-- 传递一个参数跳转至对应药品下的维价页面 -->
      <a ui-sref="center.weijia"><span ng-click="zhankai"class="zhankai glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
    </div>
    <div class="button">
      <a href="#"><span ng-click="more">更多...</span></a>
    </div>
  </div>
</div>